<h1>Welcome to the Git Demo Web Application</h1>

<p>HW4 part3 Step 4 change 1</p>
<p>HW4 PART3 STEP 6 CHANGE 2</p>

<ul>
<li><%= link_to 'About', about_path %></li>
</ul>
<p>
We really hope that this is helpful!
</p>
